---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Pricing from '~/components/widgets/Pricing.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Note from '~/components/widgets/Note.astro';
import Stats from '~/components/widgets/Stats.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <!-- Features Widget *************** -->
  <!-- Stats Widget ****************** -->

  <!-- Content Widget **************** -->
  <!-- Content Widget **************** -->

  <!-- FAQs Widget ******************* -->

  <!-- Steps2 Widget ****************** -->
  <div class="relative mx-auto" style="width: 75%;">
    <img src="/images/bg.jpg" class="w-full h-100 object-cover" />
    <div class="absolute inset-0 flex items-center justify-center">
      <span class="text-white text-6xl font-bold">Multi-Modal Founndation Models and Embodied Agents</span>
    </div>
  </div>
  <div class="py-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col lg:flex-row">
        <!-- Left Section for 'Our Mission' -->
        <div class="lg:w-1/2 p-4">
          <h2 class="text-4xl font-bold text-gray-900">What is a foundation model?</h2>
          <p class="mt-4 text-lg text-gray-700">
            In recent years, a new successful paradigm for building AI systems has emerged: Train one model on a huge amount of data and adapt it to many applications. We call such a model a foundation model.
          </p>
          <h2 class="text-4xl font-bold text-gray-900 mt-8">What is an embodied agent?</h2>
          <p class="mt-4 text-lg text-gray-700">
            In recent years, a new successful paradigm for building AI systems has emerged: Train one model on a huge amount of data and adapt it to many applications. We call such a model a foundation model.
          </p>
        </div>

        <!-- Right Section for Questions -->
        <div class="lg:w-1/2 p-4">
          <div class="mb-8">
            <h2 class="text-3xl font-bold text-gray-900">Our Mission</h2>
            <p class="mt-4 text-lg text-gray-700">
              LAMM (pronounced as /læm/, means cute lamb to show appreciation to LLaMA), is a growing open-source community aimed at helping researchers and developers quickly train and evaluate Multi-modal Large Language Models (MLLM), and further build multi-modal AI agents capable of bridging the gap between ideas and execution, enabling seamless interaction between humans and AI machines.
            </p>
            <p class="mt-4 text-lg text-gray-700">
              As one of the very first open-source endeavors in the MLLM field, our goal is to create an ecosystem where every researcher and developer can apply, study, and even contribute. We work on various aspects including MLLM datasets, frameworks, benchmarks, optimizations, and applications as AI Agents. As a fully transparent open-source community, any form of collaboration is welcome!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Stay informed with us"
    information={`Explore our collection of articles, guides, and tutorials on AI`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
